################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RollUpApi/v15/Server/sqlite3
/Access/ViewLog/ViewErrors
