<html>
<head>
    <style>
        .checkboxContainer {
            width: 100%;
            background-color: darkgrey;
            text-align: center;
        }

        .chk {
            margin-left: 10px;
            width: 20px;
            height: 15px;
        }

        .headerNew {
            background-color: #2D3E52;
            height: 60px;
            color: white;
            text-align: center;
            font-size: 22px;
            padding-top: 8px;
            margin: 0px;
        }

        .navbar-inverse {
            border-color: white;
        }

        .text {
            margin-left: -8px;
            margin-top: 12px;
            font-family: 'Segoe UI';
            font-size: 15px;
            line-height: 170%;
            text-align: justify;
            font-weight: 500;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top headerNew">
        <img src="~/Images/canarys-logo.png" style="height:50px; width:190px;" class="pull-left" />
        <div class="col-sm-6" style="margin-left:0px; padding-left:320px;margin-top: 6px;">
            VSTS RollUp
        </div>
    </div>
    <div>
        <div class="tab-pane active" role="tabpanel" id="step1">
            <div id="sourecInputs">
                <div class="" style="margin-left:-12px;">
                    <div class="col-sm-3" style="margin-top: 18px;margin-left: 0px;padding-right: 0px;padding-left: 0px;width: 294px;">
                        <a href="https://www.ecanarys.com/Products/Mobile-Apps/VSTS-on-Mobile">
                            <img src="~/Images/VSTSmobile.gif" style="margin-top: -15px;height: 540px;" />
                        </a>

                    </div>
                    <div class="col-sm-7 text">

                        <div>
                            <b>VSTS RollUp</b> is a Web Service which provides summed values of select fields for all child work items of a parent. Most project managers are interested in getting rollup of estimated or completed work, effort etc. Hence <b>RollUp</b> will automate the process of summing up the Effort fields, viz., Original Estimate, Remaining Work and Completed Work from child work item Tasks and show it at Requirement level, in the same fashion show summation of effort fields of all child Requirements(PBI/User Story) at Feature level and continues for Epic level.<br /><br />
                        </div>
                        <p>Once you register you VSTS Team Project with Canarys-VSTS RollUp service, It will create following items:</p>
                        <ul>
                            <li>
                                Creates 3 Service Hooks viz., Work Item Create, Update and Restore.
                            </li>
                            <li>
                                Creates a Query listing the hierarchical work items with effort fields.
                            </li>
                            <li>
                                A Dashboard showing the query on your VSTS Team Project home page with RollUp values.
                            </li>
                        </ul>


                        @*<div class="rcorners2" style="margin-left:0px; margin-top:10px;">
                            <div class="divhead">
                                <b style="font-size:16px;color:#3a87ad">Before you start </b>
                            </div>
                            <div style="margin-left: 12px;">
                                <p> &nbsp;&nbsp;&nbsp;Below few Pre-requisites to get your VSTS Team Project registered for this RollUp web service:</p>
                                <ul>
                                    <li>
                                        You will need a Visual Studio Team Services (VSTS) account - if you do not have one, you can<a href="https://www.visualstudio.com/team-services/" target="_blank"> create one now</a>
                                    </li>
                                    <li>
                                        You will need a Personal Access Token for the account. An overview of Personal Access Tokens (PAT) with instructions to create PAT is available <a href="https://www.visualstudio.com/en-us/docs/setup-admin/team-services/use-personal-access-tokens-to-authenticate" target="_blank">here</a>
                                    </li>
                                    <li>
                                        Create web Service hook using this tool, please refer below section.
                                    </li>
                                    <li>
                                        Once web service is created using this tool, test the service hooks once to activate them. Please refer below section
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="rcorners2" style="margin-left:0px; margin-top:15px">
                            <div class="divhead">
                                <b style="font-size:16px;color:#3a87ad">How to Create Service Hooks </b>
                            </div>
                            <div style="margin-left: 12px;">
                                <ul>
                                    <li>
                                        Sign into the tool using your VSTS credentials. You will find sign-in button below.
                                    </li>
                                    <li>
                                        After successful sign in, select the VSTS Account and Team Project for which you want to create service hooks.
                                    </li>
                                    <li>
                                        Provide Personal Access Token (PAT).
                                    </li>
                                    <li>
                                        Click on Create Service Hook Button
                                    </li>
                                    <li>
                                        After successful creation of service hook, you need to test it once to activate the hooks.
                                    </li>

                                    <ul>
                                        <li>
                                            Click on the VSTS Project link provided in Success message, which takes to service hooks section
                                        </li>
                                        <li>
                                            You will find 3 web hooks created, click on ellipse button(...) for each hook and click edit
                                        </li>
                                        <li>
                                            And click on Next >> Test >> Close >> Finish button
                                        </li>
                                    </ul>
                                    <li>
                                        That’s it !!. Now when you modify the effort fields in Task and save item, RollUp service will run in the backend and sums-up the efforts and updates the parent-level items.
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                        <div id="loginbox" class="" style="margin-top:12px; margin-left:0px;">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title"><b>Account verification</b></div>
                                </div>
                                <div style="padding-top:30px;padding-left: 120px;" class="panel-body">
                                    <div style="display:none" id="msgSource" class="alert alert-danger col-sm-12"></div>

                                    <a href="@Url.Action("Verify", "Account")" style="text-decoration: none;margin-left:108px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                                        <style type="text/css">
                                            .fil0:hover {
                                                fill: #4B4B4B;
                                            }

                                            .fnt0 {
                                                font-size: 170px;
                                                font-family: 'Segoe UI Semibold', 'Segoe UI';
                                                text-decoration: none;
                                            }
</style>
                                        <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />


                                                                                       
                                        <rect x="150" y="129" width="122" height="122" fill="#F35325" />


                                            
                                        <rect x="284" y="129" width="122" height="122" fill="#81BC06" />

                                            

                                        <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />



                                        <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />


                                            
                                        <text x="470" y="357" fill="white" class="fnt0">Sign in with your VSTS Credentials</text>
        </svg>
                                    </a>


                                </div>
                            </div>
                        </div>
                        <p>For more infomation, check with <a href="https://www.ecanarys.com/Blogs/ArticleID/316/VSTS-Rollup-Service">VSTS Rollup Service Setup</a></p>
                        <p><label style="color:red">** Note - </label> Application works best with a non-IE browser.</p>
                        
                        <div>
                            <br />
                        </div>
                        <div>
                            <br />
                        </div>
                        <div>
                            <br />
                        </div>

                    </div>
                    <div class="col-sm-2" style="margin-top: 5px; margin-left: -16px;">
                        <a href="https://www.ecanarys.com/msdevops">
                            <img src="~/Images/devop-migrate.png" />
                        </a>
                        <a href="https://www.ecanarys.com/msdevops">
                            <img src="~/Images/Canarys01.png" style="height: 160px; width: 276px; padding-top: 5px;" />
                        </a>
                        <a href="https://www.ecanarys.com/msdevops">
                            <img src="~/Images/devop-traing.png" style="padding-top: 5px;" />
                        </a>
                    </div>
                </div>
            </div>
            <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-primary next-step" id="nxtFirst" disabled="disabled" style="display:none;">Next</button></li>
            </ul>
        </div>

    </div>

</body>
</html>
<style type="text/css">
    .rcorners2 {
        border-radius: 5px;
        border: 1px solid #d9edf7;
        margin-left: 293px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .divhead {
        background-color: #d9edf7;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 0px;
        padding-left: 15px;
        height: 37px;
    }

    .font {
        font-weight: 100
    }

    .container {
        margin: 5px;
    }
</style>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#hintModal').modal({ show: true });
    //    $('#btnInterest').click(function () {
    //        var a = $('.modeSelect').val();
    //        console.log(a);
    //    });
    //});
    $("#verfySource").click(function () {
        var sourceAccount = $("#sourceAccount").val();
        var sourcePAT = $("#sourcePAT").val();

        if (sourceAccount == '') { $("#msgSource").text("please enter account name"); $("#msgSource").show(); $("#sourceAccount").focus(); return false; }
        if (sourcePAT == '') { $("#msgSource").text("please enter personal access token"); $("#msgSource").show(); $("#sourcePAT").focus(); return false; }

        var Url = '@Url.Action("verifyAccount", "Home")';
        $.get(Url, { "accountName": sourceAccount, "PAT": sourcePAT }, function (response) {

            if (response.message) {

                $("#msgSource").text("Account name and PAT succesfully verified"); $("#msgSource").show();
                $("#loader").show();
                $("#verfySource").attr('disabled', 'disabled');
                $("#Dashboardform").submit();
                $("#sourceAccount").prop('disabled', true);
                $("#sourcePAT").prop('disabled', true);
                return false;
            }
            else {

                $("#msgSource").text("invalid account name or PAT");
                $("#sourcePAT").focus();
                $("#msgSource").show();
                $("#nxtFirst").attr('disabled', 'disabled');
                return false;
            }
        });
    });

</script>


